.gutter-row-people {
  min-height: calc(100vh);
  padding: 10px;
  background: #fff;
}

.btns-wrap {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 4px 0;
  padding: 6px;
  background: #fff;
  button {
    margin: 0 4px;
  }
}

.searchs {
  margin: 4px 0;
  padding: 10px;
  background: #fff;
  .ant-form-item {
    margin: 4px 0;
  }

  button {
    margin: 0 4px;
  }
}
